---
layout: layout.njk
title: georges.site.jsx
desc: georges.site
---

<div class="code-line">
  <span class="color-purple">import</span>
  <span class="color-light-blue">React</span>
  <span class="color-purple">from</span>
  <span class="color-light-orange">'react';</span>
</div>
<div class="code-break"></div>
<div class="code-line">
  <span class="color-dark-blue">function</span>
  <span class="color-light-yellow code-shift-right">GeorgesSite</span>
  <span class="color-yellow code-shift-right">(</span>
  <span class="color-light-blue">props</span>
  <span class="color-yellow code-shift-left">)</span>
  <span class="color-dark-blue">{</span>
</div>
<div class="code-line">
  <span class="color-dark-blue">const</span>
  <span class="color-light-blue">tech</span>
  =
  <span class="color-purple code-shift-right">[</span>
  <span class="color-light-orange">'React'</span>,
  <span class="color-light-orange">'Node'</span>,
  <span class="color-light-orange">'Webpack'</span>,
  <span class="color-light-orange">'Java'</span>,
  <span class="color-light-orange">'Linux'</span>,
  <span class="color-light-orange">'AWS'</span>,
  <span class="color-light-orange">'REST'</span>,
  <span class="color-light-orange">'CI'</span>,
  <span class="color-light-orange">'CD'</span>,
  <span class="color-light-orange">'BDD'</span>,
  <span class="color-light-orange">'TypeScript'</span>,
  <span class="color-light-orange">'Jira'</span>,
  <span class="color-light-orange">'UX'</span>,
  <span class="color-light-orange">'Git'</span>,
  <span class="color-light-orange">'Cypress'</span>,
  <span class="color-light-orange">'MongoDB'</span>,
  <span class="color-light-orange">'Express'</span>,
  <span class="color-light-orange">'MUI'</span>,
  <span class="color-light-orange">'Cloudflare Workers'</span>,
  <span class="color-light-orange">'PHP'</span>,
  <span class="color-light-orange">'WordPress'</span>,
  <span class="color-light-orange">'WooCommerce'</span>,
  <span class="color-light-orange">'DigitalOcean'</span>,
  <span class="color-light-orange">'Cloudways'</span>,
  <span class="color-light-orange">'Semantic UI'</span>
  <span class="color-purple code-shift-left">]</span>
</div>
<div class="code-break"></div>
<div class="code-line">
  <span class="color-dark-blue">const</span>
  <span class="color-light-blue">handleContact</span>
  =
  <span class="color-purple">(()</span>
  <span class="color-light-blue">=></span>
  <span class="color-dark-blue">{</span>
</div>
<div class="code-line indent2">
  <span class="color-light-blue">window</span>.<span class="color-light-yellow">ContactFormPro</span>.<span class="color-light-yellow">open</span>
  <span class="color-purple code-shift-left">()</span>
</div>
<div class="code-line">
  <span class="color-dark-blue code-shift-right">}</span>
  <span class="color-purple">)</span>
</div>
<div class="code-break"></div>
<div class="code-line">
  <span class="color-purple code-shift-right">return (</span>
  <span class="color-grey">&lt;&gt;</span>
</div>
<div class="code-line indent2">
  <span class="color-grey code-shift-right">&lt;</span>
  <span class="color-dark-blue">h2</span>
  <span class="color-grey code-shift-left">&gt;</span>About<span class="color-grey code-shift-right">&lt;/</span>
  <span class="color-dark-blue">h2</span>
  <span class="color-grey code-shift-left">&gt;</span>
</div>
<div class="code-line indent2">
  <span class="color-grey code-shift-right">&lt;</span>
  <span class="color-dark-blue">p</span>
  <span class="color-grey code-shift-left">&gt;</span>Over 10 years experience in building cloud offerings used by
    thousands of users globally, with a keen interest in Javascript from React to Express and everything in-between.
  <span class="color-grey code-shift-left">&lt;/</span>
  <span class="color-dark-blue code-shift-left">p</span>
  <span class="color-grey code-shift-left">&gt;</span>
</div>
<div class="code-break"></div>
<div class="code-line indent2">
  <span class="color-grey code-shift-right">&lt;</span>
  <span class="color-dark-blue">h2</span>
  <span class="color-grey code-shift-left">&gt;</span>Public Projects<span class="color-grey code-shift-right">&lt;/</span>
  <span class="color-dark-blue">h2</span>
  <span class="color-grey code-shift-left">&gt;</span>
</div>
<div class="code-line indent2">
  <span class="color-grey code-shift-right">&lt;</span>
  <span class="color-dark-blue">ul</span>
  <span class="color-grey code-shift-left">&gt;</span>
</div>
<div class="code-line indent4">
  <span class="color-grey code-shift-right">&lt;</span>
  <span class="color-dark-blue code-shift-right">li</span>
  <span class="color-grey code-shift-right">&gt;</span>
  <a class="code-link" href="https://contactform.pro" target="_blank">ContactForm.Pro</a>
  <span class="color-grey code-shift-left">&lt;/</span>
  <span class="color-dark-blue code-shift-left">li</span>
  <span class="color-grey code-shift-left">&gt;</span>
</div>
<div class="code-line indent4">
  <span class="color-grey code-shift-right">&lt;</span>
  <span class="color-dark-blue code-shift-right">li</span>
  <span class="color-grey code-shift-right">&gt;</span>
  <a class="code-link" href="https://designer.mvhr.shop" target="_blank">Filter Designer</a>
  <span class="color-grey code-shift-left">&lt;/</span>
  <span class="color-dark-blue code-shift-left">li</span>
  <span class="color-grey code-shift-left">&gt;</span>
</div>
<div class="code-line indent4">
  <span class="color-grey code-shift-right">&lt;</span>
  <span class="color-dark-blue code-shift-right">li</span>
  <span class="color-grey code-shift-right">&gt;</span>
  <a class="code-link" href="https://mvhr.shop" target="_blank">MVHR.shop</a>
  <span class="color-grey code-shift-left">&lt;/</span>
  <span class="color-dark-blue code-shift-left">li</span>
  <span class="color-grey code-shift-left">&gt;</span>
</div>
<div class="code-line indent4">
  <span class="color-grey code-shift-right">&lt;</span>
  <span class="color-dark-blue code-shift-right">li</span>
  <span class="color-grey code-shift-right">&gt;</span>
  <a class="code-link" href="https://github.com/isitgeorge/tp2json" target="_blank">tp2json</a>
  <span class="color-grey code-shift-left">&lt;/</span>
  <span class="color-dark-blue code-shift-left">li</span>
  <span class="color-grey code-shift-left">&gt;</span>
</div>
<div class="code-line indent2">
  <span class="color-grey code-shift-right">&lt;/</span>
  <span class="color-dark-blue">ul</span>
  <span class="color-grey code-shift-left">&gt;</span>
</div>
<div class="code-break"></div>
<div class="code-line indent2">
  <span class="color-grey code-shift-right">&lt;</span>
  <span class="color-dark-blue">button</span>
  <span class="color-light-blue">onClick</span>=
  <span class="color-dark-blue code-shift-left">{</span>
  <span class="color-light-yellow code-shift-left">handleContact</span>
  <span class="color-dark-blue code-shift-left">}</span>
  <span class="color-grey code-shift-left">&gt;</span>
  <a class="code-link code-shift-left" href="#" onclick="window.ContactFormPro.open()">
    Message</a>
  <span class="color-grey code-shift-left">&lt;</span>
  <span class="color-dark-blue code-shift-left">button</span>
  <span class="color-grey code-shift-left">&gt;</span>
</div>
<div class="code-line">
  <span class="color-grey">&lt;/&gt;</span>
  <span class="color-purple code-shift-left">)</span>
</div>